
<div  ng-controller="imagesCtrl">
    <div class="images-container">

        <div class="search-bar">
            <p >Search</p>
            <input type="text" placeholder="Username" ng-model="search.username">
            <input type="text" placeholder="hashtag" ng-model="search.hashtag">
        </div>

            <div ng-if="images.length > 0" ng-repeat="image in images | filter : search" class="image-container">
                <p class="username">Uploaded by {{image.username}}</p>
                <img  src="{{image.image}}"/>
                <a ui-sref="single({imageId: image.id})"><p class="title">{{image.title}}</p></a>
                <p class="description">{{image.description}}</p>
                <div class="hashtag-container">
                    <a ng-repeat = "hashtag in image.hashtag" ui-sref="hashtag({hashtag: hashtag})"><p class="hashtag">{{hashtag}}</p></a>
                </div>
                </div>
    </div>
    <button  ng-click="getImages()" ng-if="!end" id="more-button-home" type="button" name="button">MORE</button>
</div>
